{% extends 'classroom/base.html' %}

{% block script %}
  <script>
      function markFeatured(uuid, featured) {
          $.post("{% url 'ai_choose_featured' %}", {
              "id": uuid,
              "feature": featured
          }).then(function () {
              if (featured) {
                  $("#feature-" + uuid).hide();
                  $("#unfeature-" + uuid).show();
              } else {
                  $("#feature-" + uuid).show();
                  $("#unfeature-" + uuid).hide();
              }
          })
      }
  </script>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h2>Choose Featured Photos</h2>
    <form method="get" action="{% url 'ai_choose_featured' %}">
      <select class="custom-select" name="homeroom">
        {% for hr in homerooms %}
          <option value="{{ hr.0 }}" {% if hr.0 == homeroom %}selected{% endif %}>{{ hr.1 }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary mt-2 text-white">Go</button>
    </form>
  </div>

  {% if images %}
    {% for stu, reqs in images.items %}
      <h3 class="mt-5">{{ stu }}</h3>

      <div class="row">
        {% for image in reqs %}
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
              <img src="{{ image.image_url }}" class="w-100">

              <div class="card-body">
                <h4 class="text-center">{{ image.prompt }}</h4>
                <h5 class="text-center">
                  <a id="feature-{{ image.id }}" {% if image.feature_photo %}style="display: none;"{% endif %}
                     class="btn btn-success" onclick="markFeatured('{{ image.id }}', true)">Feature</a>
                  <a id="unfeature-{{ image.id }}" {% if not image.feature_photo %}style="display: none;"{% endif %}
                     class="btn btn-danger" onclick="markFeatured('{{ image.id }}', false)">Remove Feature</a>
                </h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <hr/>
  {% endif %}

{% endblock %}