{% extends 'classroom/base.html' %}

{% block content %}
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="w-50">Image</th>
      <th class="w-50">Settings</th>
    </tr>
    </thead>
    {% for art in arts %}
      <tr>
        <td>
          <img src="{{ art.image_url }}" class="w-100">
        </td>
        <td>
          <p>Prompt: <code>{{ art.prompt }}</code></p>

          {% if art.negative_prompt %}
            <p>Negative Prompt: <code>{{ art.negative_prompt }}</code></p>
          {% endif %}

          <p>Other Options:</p>
          <code>{{ art.get_extra_as_json_formatted }}</code>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}