{% extends 'classroom/base.html' %}

{% load static %}

{% block script %}
  <script>
      let fill = function (prompt, negative, guidance) {
          $('#prompt').val(prompt);
          $('#negative').val(negative);
          $('#guidance').val(guidance);
      }

      $(function () {
          $('input[type=radio][name=type]').change(function () {
              if (this.id == 'txt2img') {
                  $('#imgopts').hide()
              } else if (this.id == 'img2img') {
                  $('#imgopts').show()
              }
          });

          $('#imgopts').hide();
      });
  </script>
{% endblock %}

{% block content %}
  <div class="row mb-5">
    {% if student.grade > 12 or not inprogress %}
      <div class="jumbotron w-100">
        <h1>Submit an AI Art Request</h1>
        <h5><a href="{% url 'ai_exemplars' %}">Click here to view some example prompts and images</a></h5>
        <form action="{% url 'ai_submit' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="txt2img" name="type" checked>
              <label class="form-check-label" for="txt2img">txt2img</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="img2img" name="type">
              <label class="form-check-label" for="img2img">img2img</label>
            </div>
          </div>
          <div class="form-group">
            <label for="prompt">Prompt:</label>
            <input class="form-control" type="text" name="prompt" id="prompt" required>
          </div>
          <div class="form-group">
            <label for="negative">Negative Prompt:</label>
            <input class="form-control" type="text" name="negative" id="negative">
          </div>
          <div class="form-group">
            <label for="guidance">Guidance Scale:</label>
            <small>Higher numbers are more closely aligned to your prompt, but "weirder"</small>
            <input class="form-control" type="number" name="guidance" id="guidance" value="7.5" min="2" max="20"
                   step="0.1">
          </div>
          <div class="form-group d-none">
            <label for="resolution">Resolution</label>
            <select class="form-control custom-select" name="resolution" id="resolution">
              {% for opt in resolutions %}
                <option value="{{ opt.0 }}">{{ opt.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="imgopts">
            <hr>
            <div class="form-group">
              <label for="resolution">Seed Image</label>
              <input type="file" class="form-control-file" name="image_in">
            </div>
            <hr>
            <div class="form-group">
              <label for="noise">Strength (between 0 and 1)</label>
              <small>Larger numbers change more about your original image.</small>
              <input type="number" class="form-control" min="0" max="1" step="0.01" name="strength" id="strength"
                     value="0.3">
            </div>
          </div>
          <div>
            <button class="btn btn-success">Submit</button>
          </div>
          {% if student.grade > 12 %}
            <div>
              <hr>
              <h5>You have "unlimited mode" enabled for your account. You do not need to wait for a request to finish
                before adding a new one, so requests waiting in the queue will not be shown.</h5>
            </div>
          {% endif %}
        </form>
      </div>
    {% else %}
      <div class="col-12 mb-4">
        <h2 class="">Your Active Request:</h2>
        <div class="card">
          <div class="card-body">
            <div class="text-center blockquote">"{{ inprogress.prompt }}"</div>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: {{ inprogress.percentage }}%;"
                   aria-valuenow="{{ inprogress.percentage }}" aria-valuemin="0"
                   aria-valuemax="100">{{ inprogress.get_state_display }}
              </div>
            </div>
            {% if inprogress.is_cancellable %}
              <hr/>
              {% if queuepos == 0 %}
                <p class="text-center">You're up next!</p>
              {% elif queuepos == 1 %}
                <p class="text-center">There is {{ queuepos }} person in front of you.</p>
              {% else %}
                <p class="text-center">There are {{ queuepos }} people in front of you.</p>
              {% endif %}
              <p class="text-center">You may cancel your request to add another, but if you choose to do so, you will
                lose your spot in
                line.</p>
              <p class="text-center"><a class="btn btn-danger" href="{% url 'ai_cancel' inprogress.id %}">Cancel my
                Request</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}


    {% if fulfilled %}
      <div class="col-12">
        <h2>Your Previous Requests:</h2>
      </div>

      {% for art in fulfilled %}
        <div class="col-12 col-md-6 mb-2">
          <div class="card">
            {% if art.image_url %}
              <a href="{{ art.image_url }}">
                <img src="{{ art.image_url }}" class="card-img-top">
              </a>
            {% else %}
              <img src="{% static 'classroom/gradient_blur.png' %}" class="card-img-top">
            {% endif %}

            <div class="card-body">
              <div class="mb-3">
                <p>Prompt: <code>{{ art.prompt }}</code></p>

                {% if art.negative_prompt %}
                  <p>Negative Prompt: <code>{{ art.negative_prompt }}</code></p>
                {% endif %}

                <p>Other Options:</p>
                <code>{{ art.get_extra_as_json_formatted }}</code>
              </div>

              {% if art.image_url %}
                <p class="text-center">
                  <a class="btn btn-success"
                     href="#"
                     onclick="fill('{{ art.prompt | escapejs }}', '{{ art.negative_prompt | escapejs }}', '{{ art.get_guidance | escapejs }}')">
                    Copy Attributes</a>
                </p>
                {% if art.user_feature_photo %}
                  <h5 class="text-center">Currently Featured</h5>
                {% endif %}
              {% else %}
                <p class="text-center">Awaiting Moderation... Image will be here soon.</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
