{% extends 'classroom/base.html' %}

{% block script %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css"
        integrity="sha512-UvAQolpyYameV9OFfNVAstakl6LZLNL8BYGsgaM8aO1t19TVY3VYwbcib0DyrvuIwaTt9va5yR5kOZs7hdZK0A=="
        crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"
          integrity="sha512-nUuQ/Dau+I/iyRH0p9sp2CpKY9zrtMQvDUG7iiVY8IBMj8ZL45MnONMbgfpFAdIDb7zS5qEJ7S056oE7f+mCXw=="
          crossorigin="anonymous"></script>

  <script>
      $(function () {
          $("#rating").barrating({
              theme: 'fontawesome-stars'
          });
      })
  </script>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    {% if student.id == "dc74089" %}
      <h1>{{ greeting }}, Mr. Canora!</h1>
    {% else %}
      <h1>{{ greeting }}, {{ student.fname }}!</h1>
    {% endif %}
  </div>

  <div class="row mb-5">
    {% if bdays %}
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h2>Happy Birthday to...</h2>
            <ul>
              {% for s in bdays %}
                <li>{{ s.name }} ({{ s.get_homeroom_display }})</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
    {% if questions and not entry_ticket %}
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h2>Question(s) of the day</h2>
            {% for q in questions %}
              <hr>
              <p class="">{{ q.text }}</p>
              {% for option in q.get_answers %}
                <p><a href="{% url 'answer_question' %}?qid={{ q.id }}&ans={{ forloop.counter0 }}"
                      class="btn btn-success">{{ option }}</a></p>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if covid or entry_ticket and student.is_sixth %}
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h2>Check In</h2>
            <form action="{% url 'submit_entryticket' %}" method="post">
              {% csrf_token %}
              {% if entry_ticket and student.is_sixth %}
                <div>
                  <label for="objective">What are you working on today?</label>
                  <select class="select custom-select" id="objective" name="objective">
                    {% for module, alist in assignments.items %}
                      <optgroup label="{{ module }}">
                        {% for a in alist %}
                          <option value="{{ a.canvas_id }}">{{ a.name }}</option>
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
              {% if covid %}
                <div class="mt-2">
                  <label for="location">Where are you sitting today?</label>
                  <select class="select custom-select" id="location" name="location">
                    {% for cat, locs in seat_options.items %}
                      <optgroup label="{{ cat }}">
                        {% for l in locs %}
                          <option value="{{ l }}">{{ l }}</option>
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
              <button class="btn btn-success mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    {% if music %}
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-0">Give me a Song</h2>
            <h5>(if you want)</h5>
            <hr/>
            <form action="{% url 'music_submit' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="song_name">Song Name:</label>
                <input type="text" class="form-control" name="song_name" id="song_name" required>
              </div>
              <div class="form-group">
                <label for="song_artist">Artist (if you know it):</label>
                <input type="text" class="form-control" name="song_artist" id="song_artist">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="song_type" value="class" id="song_class" required>
                <label class="form-check-label" for="song_class">
                  I want you to add this to the class playlist (it's <strong>clean</strong> and you won't hate it)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="song_type" value="personal" id="song_personal"
                       required>
                <label class="form-check-label" for="song_personal">
                  I just want you to check out this song
                </label>
              </div>
              <button class="btn btn-success mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    {% if exit_ticket %}
      <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h2>Exit Ticket</h2>
            <form action="{% url 'submit_exitticket' %}" method="post">
              {% csrf_token %}
              {% if exit_ticket_understanding %}
                <div class="mx-auto">
                  <label for="rating">Rate your understanding of class today</label>
                  <select id="rating" name="rating" type="text" class="rating">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5" selected>Five</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="learning">In a couple words, what did you learn today?</label>
                  <textarea class="form-control" name="learning" id="learning"></textarea>
                </div>
              {% endif %}
              {% if exit_ticket_extra %}
                <div class="form-group">
                  <label for="extra">Answer my question here:</label>
                  <textarea class="form-control" name="extra" id="extra"></textarea>
                </div>
              {% endif %}
              <button class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
