{% extends 'classroom/base.html' %}
{% load static %}

{% block script %}
  <script>
      function validate() {
          let result = $("#answer").val().lower() == "{{ expected }}"

          if (!result) {
              $(".alert").removeClass("d-none")
          }

          return result;
      }
  </script>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="alert alert-danger d-none">Sorry! That's not it.</div>
      {% if image == 1 %}
        <img src="{% static 'classroom/pigpen.png' %}" class="w-25 float-right mb-4">
      {% endif %}

      <p>{{ question | safe | linebreaks }}</p>

      {% if image == 2 %}
        <img src="{% static 'classroom/number-table.png' %}" class="w-100 mb-4">
      {% endif %}

      {% if not last %}
        <form action="{% url 'escape' %}" method="get" onsubmit="return validate()">
          <div class="form-group">
            <input class="form-control" name="answer" id="answer" type="text">
          </div>
          <button class="btn btn-secondary">Submit</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}