{% extends 'classroom/base_blank_dark.html' %}

{% block content %}
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h1 class="text-white">{{ group }} Assignment Tracker</h1>
    </div>
    {% for table in students %}
      <div class="col-6">
        <table class="table table-dark table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Assignments Completed</th>
          </tr>
          </thead>
          <tbody>
          {% for data in table %}
            <tr>
              <td>{{ data.0.fname }} {{ data.0.last_initial }}.</td>
              <td class="text-right">
                ⭐ x{{ data.1 }}, ✴ x{{ data.2 }}, 🏦 x{{ data.4 }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
    <div class="col-12 text-center">
      <hr class="border-top"/>
      <h3 class="text-white mt-9">3-hour 3D Print = 🏦 x10<span class="mx-5">|</span>8-hour 3D Print = 🏦 x20</h3>
    </div>
  </div>
{% endblock %}
