{% extends 'classroom/base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Mr. Goodman's Enrichment Site</h1>
    <hr>
    {% if login_allowed %}
      <form action="{% url 'student_login' %}" method="POST">
        <p>Enter your 5-digit student number to log in:</p>
        {% csrf_token %}
        <input class="form-control" type="number" min="0" inputmode="numeric" pattern="[0-9]*" name="sid">
        <button class="btn btn-success mt-3">Let's Go!</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
